<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Изменить книгу</title>
</head>
<body>
<div layout:fragment="content">
  <!--        Форма добавления книги-->
  <!--        action="" - url на который будут отправлены данные-->
  <!--        object="" - имя объекта в котором будут хранится данные (нужно чтобы потом в контроллере их распарсить)-->
  <form method="POST" enctype="multipart/form-data" th:action="@{/books/update}" th:object="${bookForm}">
    <input type="hidden" name="id"
           th:value="${book.id}">
    <div class="mb-3">
      <label for="title" class="form-label">Название</label>
      <input th:value="${book.title}" name="title" type="text" class="form-control" id="title">
    </div>
    <div class="mb-3">
      <label for="onlineCopy" class="form-label">Онлайн копия</label>
      <input type="hidden" th:value="${book.onlineCopy}" name="onlineCopy" class="form-control">
      <p th:text="${book.onlineCopy}"></p>
      <input type="file" name="file" id="onlineCopy"/>
    </div>
    <div class="mb-3">
      <label for="storagePlace" class="form-label">Место хранения</label>
      <input th:value="${book.storagePlace}" name="storagePlace" type="text" class="form-control" id="storagePlace">
    </div>
    <div class="mb-3">
      <label for="amount" class="form-label">Количество</label>
      <input th:value="${book.amount}" name="amount" type="text" class="form-control" id="amount">
    </div>
    <div class="mb-3">
      <label for="publishYear" class="form-label">Год издания</label>
      <input th:value="${book.publishYear}" name="publishYear" type="text" class="form-control" id="publishYear">
    </div>

    <div class="mb-3">
      <label for="genre" class="form-label">Жанр</label>
      <select class="form-select" name="genre" id="genre" aria-label="Default select example">
        <option selected>Выберете жанр из списка:</option>
        <option th:each="genre : ${T(ru.edu.sber_spring.model.GenreEnum).values()}"
                th:value="${genre}" th:text="${genre.getGenreName()}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Изменить</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
  </form>
</div>
</body>
</html>
