<!--страница с книгами-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Книги</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Книги библиотеки</h1>
  <a
      sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('ROLE_LIBRARIAN'))"
      href="/books/add"
      class="btn btn-secondary"
      role="button"
      style="float: right"
      aria-disabled="true">Добавить</a>
  <!--    <a-->
  <!--            th:each="authority : ${#authentication.getAuthorities()}"-->
  <!--            th:if="${authority.getAuthority()} == 'LIBRARIAN'"-->
  <!--            href="/books/add"-->
  <!--            class="btn btn-secondary"-->
  <!--            role="button"-->
  <!--            style="float: right"-->
  <!--            aria-disabled="true">Добавить</a>-->

  <div>
    <br>
    <h4>Поиск</h4>
    <div class="row">
      <div class="col">
        <form method="POST" th:action="@{/books/search}" th:object="${bookSearchForm}">
          <div class="row">
            <div class="col-auto">
              <label for="bookTitle" class="col-form-label">Название книги</label>
            </div>
            <div class="col-auto">
              <input name="bookTitle" type="text" class="form-control" id="bookTitle">
            </div>
            <div class="col-auto">
              <label for="authorFio" class="col-form-label">ФИО</label>
            </div>
            <div class="col-auto">
              <input name="authorFio" type="text" class="form-control" id="authorFio">
            </div>
            <div class="col-auto">
              <label for="genre" class="col-form-label">Жанр</label>
            </div>
            <div class="col-auto">
              <select class="form-select" name="genre" id="genre" aria-label="Default select example">
                <option selected th:value="null">Выберете жанр из списка:</option>
                <option th:each="genre : ${T(ru.edu.sber_spring.model.GenreEnum).values()}"
                        th:value="${genre}" th:text="${genre.getGenreName()}"></option>
              </select>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Поиск</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <br>
    <br>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Название</th>
      <th scope="col">Жанр</th>
      <th scope="col">Онлайн копия</th>
      <th scope="col">Место хранения</th>
      <th scope="col">Количество</th>
      <th scope="col">Год публикации</th>
      <th scope="col">Автор(ы)</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <!--        Перебор книг-->
    <tr th:each="book: ${books}">
      <td th:text="${book.title}"></td>
      <td th:text="${book.genre.getGenreName()}"></td>
      <!--            <td th:text="${book.onlineCopy}"></td>-->
      <td>
        <a th:if="${book.onlineCopy} != ''" th:href="@{|/books/download?bookId=${book.id}|}">
          <span>Скачать книгу</span>
        </a>
      </td>
      <td th:text="${book.storagePlace}"></td>
      <td th:text="${book.amount}"></td>
      <td th:text="${book.publishYear}"></td>
      <td>
        <ul>
          <li th:each="author: ${book.authorDTOs}" th:text="${author.authorFIO}"></li>
        </ul>
      </td>
      <td>
        <a
            sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
            th:href="'/books/update/' + ${book.id}"
            class="btn btn-primary"
            role="button"
            aria-disabled="true">Изменить</a>
        <a
            th:href="'/books/' + ${book.id}"
            class="btn btn-primary"
            role="button"
            aria-disabled="true">Просмотреть</a>
        <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))"
           th:href="'/books/delete/' + ${book.id}"
           class="btn btn-primary"
           role="button"
           onclick="return confirm('Вы действительно хотите удалить запись?');"
           aria-disabled="true">Удалить</a>
        <a
            sec:authorize="isAuthenticated() && hasRole('USER')"
            th:href="'/publish/get-book/' + ${book.id}"
            class="btn btn-primary"
            role="button"
            aria-disabled="true">Взять книгу</a>
      </td>
    </tr>
    </tbody>
  </table>
  <nav aria-label="Pagination" th:if="${books.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-bold">
      <li class="page-item" th:classappend="${books.number eq 0} ? 'disabled'">
        <a class="page-link"
           th:href="@{/books?page={id}(id=${books.number lt 2 ? 1 : books.number})}"
           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item" th:classappend="${i eq books.number + 1} ? 'active'"
          th:each="i : ${#numbers.sequence( 1, books.totalPages, 1)}">
        <a class="page-link" th:href="@{/books?page={id}(id=${i})}" th:text="${i}"
           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
      </li>
      <li class="page-item" th:classappend="${books.number eq books.totalPages - 1} ? 'disabled'">
        <a class="page-link"
           th:href="@{/books?page={id}(id=${books.number + 2})}"
           aria-label="Next" title="Next Page" data-toggle="tooltip">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

  <script>
    function confirmDelete() {
      return 'Are you sure you want to leave?';
    }
  </script>

</div>
</body>
</html>