<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Добавить автору книгу</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Добавить автору книгу</h1>
  <h2 th:text="${author.authorFIO}"></h2>

  <h2>Книги, у которых нет данного автора</h2>
  <form method="POST" th:action="@{/authors/add-book/{id}(id=${author.id})}">
    <div class="mb-3">
      <label for="bookId" class="form-label">Книги</label>
      <select class="form-select" name="bookId" id="bookId" aria-label="Default select example">
        <option selected>Выберете книгу</option>
        <option th:each="book: ${books}" th:value="${book.id}" th:text="${book.title}"></option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Добавить книгу</button>
  </form>
</div>
</body>
</html>