<!--страница с авторами-->
<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Авторы</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Авторы библиотеки</h1>

  <a
      href="/authors/add"
      class="btn btn-secondary"
      role="button"
      style="float: right"
      aria-disabled="true">Добавить</a>
  <div>

  </div>

  <br>
  <form method="POST" th:action="@{/authors/search}" th:object="${authorForm}">
    <div class="mb-3">
      <label for="authorFIO" class="form-label">ФИО</label>
      <input name="authorFIO" type="text" class="form-control" id="authorFIO">
    </div>
    <button type="submit" class="btn btn-primary">Поиск</button>
  </form>

  <table class="table">
    <thead>
    <tr>
      <th scope="col">ФИО</th>
      <th scope="col">Годы жизни</th>
      <th scope="col">Биография</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <!--        Перебор книг-->
    <tr th:each="author: ${authors}">
      <td th:text="${author.authorFIO}"></td>
      <td th:text="${author.lifePeriod}"></td>
      <td th:text="${author.description}"></td>
      <td>
        <a th:href="'/authors/' + ${author.id}"
           class="btn btn-primary"
           role="button"
           aria-disabled="true">Посмотреть</a>
      </td>
      <td>
        <a th:href="'/authors/add-book/' + ${author.id}"
           class="btn btn-primary"
           role="button"
           aria-disabled="true">Добавить книгу</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>