<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Автор</title>
</head>
<body>
<div layout:fragment="content">
  <h1 th:text="${authorWithBooks.authorFIO}"></h1>

  <p>
    Годы жизни: <span th:text="${authorWithBooks.lifePeriod}"></span>
  </p>
  <p>
    Биография: <span th:text="${authorWithBooks.description}"></span>
  </p>

  <h2>Книги</h2>
  <ul>
    <li th:each="book: ${authorWithBooks.bookDTOS}">
      <td th:text="${book.title}"></td>
    </li>
  </ul>
</div>
</body>
</html>