<!--Шапка сайта с меню-->
<div th:fragment="header"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <nav class="navbar navbar-expand-lg " style="background-color: #b84f3c;">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: whitesmoke" href="/">Библиотека</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
            class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/books">Книги</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/authors">Авторы</a>
          </li>
          <li sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('LIBRARIAN'))" class="nav-item">
            <a class="nav-link active" aria-current="page" href="/users/all">Пользователи</a>
          </li>
          <li sec:authorize="isAuthenticated() && (hasRole('USER'))" class="nav-item">
            <a class="nav-link active" aria-current="page"
               th:href="'/publish/user-books/' + ${#authentication.getPrincipal().getUserId()}">Мои книги</a>
          </li>
        </ul>
        <form sec:authorize="isAuthenticated() && !hasRole('ADMIN')" class="d-flex">
          <a th:href="'/users/profile/' + ${#authentication.getPrincipal().getUserId()}" class="btn btn-primary"
             role="button" aria-disabled="true">Профиль</a>
        </form>
        <form sec:authorize="isAuthenticated()" class="d-flex">
          <a href="/logout" class="btn btn-primary" role="button" aria-disabled="true">Выйти</a>
        </form>
      </div>
    </div>
  </nav>
</div>